@font-face {
    font-family: 'graublauweb';
    src: url('../fonts/graublauweb-webfont.ttf') format("truetype");
    font-style: normal;
}
body {
    font-family: 'graublauweb';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}
/*===хидер===*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 29px;
}
.container {}
.header__wr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.header__wr-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}
.header__close {
    display: none;
}
.nav__btn-line {
    width: 20px;
    height: 3px;
    display: block;
    background: #e47388;
}
.nav__btn-line + .nav__btn-line {
    margin-top: 3px;
}
.nav__btn-line:nth-child(2) {
    width: 15px;
}
.nav__btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: max-content;
    cursor: pointer;
}
.logo {}
.location {
    display: flex;
    align-items: center;
    margin-left: 45px;
}
.location__city {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 19px;
    color: #393939;
    margin-left: 10px;
    padding-bottom: 1px;
    border-bottom: 3px dotted #e47388;
    cursor: pointer;
    text-shadow: 1px 0px #000;
    margin-top: -4px;
}
.location__city:hover {
    color: #e47388;
}
.location__block {}
.phone {
    display: flex;
    align-items: center;
    margin-left: 86px;
}
.phone__link {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 18px;
    color: #393939;
    margin-left: 11px;
    text-shadow: 1px 0 black;
}
.phone__link span {
    font-weight: 400;
    color: #a0a0a0;
}
.phone__link:hover {
    color: #e47388;
    text-decoration: underline;
}
.forum-link {
    font-size: 14px;
    color: #ffffff;
    line-height: 16px;
    padding: 9px 21px 12px 21px;
    border-radius: 18px;
    filter: drop-shadow(0px 4px 4.5px rgba(226, 105, 128, 0.52));
    background-color: #88b77e;
    margin-left: 73px;
}
.forum-link:hover {
    background: #e47388;
}
.enter {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.enter-link {
    font-size: 16px;
    line-height: 18px;
    color: #393939;
    margin-left: 10px;
    letter-spacing: 0px;
    text-shadow: 1px 0 #393939;
}
.enter-link:hover {
    color: #e47388;
    text-decoration: underline;
}
/*===первый экран===*/
.main {
    background-color: #edd7d8;
    height: 100vh;
    position: relative;
    padding-top: 139px;
    overflow: hidden;
}
.main__bg {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: -10%;
    width: 110%;
}
.main-img {
    position: absolute;
    z-index: 3;
}
.main1 {
    right: 23px;
    top: 80px;
}
.main2 {
    right: 30.5%;
    bottom: -232px;
}
.main3 {
    right: -21.5%;
    bottom: -257px;
}
.main4 {
    top: -43px;
    right: 19%;
}
.main5 {
    top: -30px;
    left: 22%;
    z-index: 9;
}
.main6 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.main7 {
    top: -114px;
    left: -113px;
    z-index: 2;
}
.main8 {
    top: 133px;
    left: -143px;
    z-index: 2;
}
.main9 {
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: linear-gradient(90deg, rgb(0 255 175 / 57%), rgb(0 255 175 / 15%), rgb(0 255 175 / 2%), rgb(0 255 175 / 15%), rgb(0 255 175 / 57%));
    backdrop-filter: blur(10px);
    filter: drop-shadow(0px 4px 28.5px rgba(204, 113, 15, 0.33));
    display: none;
}
.container {
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}
.main .container {
    display: flex;
    justify-content: center;
}
.main .container + .container {
    display: block;
}
.main__wr {
    /* background: linear-gradient(90deg, rgb(7 191 133 / 10%), rgb(7 191 133 / 2%), rgb(7 191 133 / 10%)); */
    backdrop-filter: blur(10px);
    filter: drop-shadow(0px 4px 28.5px rgba(204, 113, 15, 0.33));
    padding: 65px 10px 48px 9px;
    border-radius: 30px;
    position: relative;
    z-index: 5;
    max-width: 826px;
    margin: 0 auto;
    left: 8px;
}
.main__title {
    font-size: 31px;
    letter-spacing: 2.2px;
    line-height: 1;
    color: #000000;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
    position: relative;
    z-index: 5;
    text-shadow: 1px 0px #000;
}
.search {
    display: flex;
    /* justify-content: center; */
    position: relative;
    z-index: 5;
    padding-left: 170px;
}
.search__box {
    margin-right: 15px;
}
.search__box-input {
    font-family: 'graublauweb';
    border-radius: 19px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.07);
    width: 378px;
    padding: 9px 11px 8px 20px;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 1;
    color: #cbcbcb;
    margin-bottom: 13px;
    margin-top: 4px;
}
.search__btn {
    width: 76px;
    height: 76px;
    border-radius: 38px;
    background-color: #e26980;
    margin-top: 3px;
}
.search__box-categoty {
    display: flex;
}
.box-categoty__item {
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 12px;
    max-width: max-content;
    font-weight: 700;
    margin-right: 17px;
    padding: 7px 9px 5px 11px;
    line-height: 1;
    cursor: pointer;
    margin-bottom: 13px;
}
.box-categoty__item1 {
    color: #774756;
    border: 2px solid #774756;
}
.box-categoty__item2 {
    color: #477748;
    border: 2px solid #477748;
}
.box-categoty__item3 {
    color: #774774;
    border: 2px solid #774774;
}
.box-categoty__item4 {
    color: #4e4777;
    border: 2px solid #4e4777;
}
.box-categoty__item5 {
    color: #be1919;
    border: 2px solid #be1919;
}
.box-categoty__item6 {
    color: #85a028;
    border: 2px solid #85a028;
}
.box-categoty__item7 {
    color: #33c4c2;
    border: 2px solid #33c4c2;
}
.box-categoty__item8 {
    color: #5c9edc;
    border: 2px solid #5c9edc;
}
.box-categoty__item9 {
    color: #dfa833;
    border: 2px solid #dfa833;
}
.box-categoty__item10 {
    color: #c886d9;
    border: 2px solid #c886d9;
}
.box-categoty__item1:hover {
    color: #fff;
    background: #774756;
}
.box-categoty__item2:hover {
    color: #fff;
    background: #477748;
}
.box-categoty__item3:hover {
    color: #fff;
    background: #774774;
}
.box-categoty__item4:hover {
    color: #fff;
    background: #4e4777;
}
.box-categoty__item5:hover {
    color: #fff;
    background: #be1919;
}
.box-categoty__item6:hover {
    color: #fff;
    background: #85a028;
}
.box-categoty__item7:hover {
    color: #fff;
    background: #33c4c2;
}
.box-categoty__item8:hover {
    color: #fff;
    background: #5c9edc;
}
.box-categoty__item9:hover {
    color: #fff;
    background: #dfa833;
}
.box-categoty__item10:hover {
    color: #fff;
    background: #c886d9;
}
.search__btn {
    width: 76px;
    height: 76px;
    border-radius: 38px;
    background-color: #e26980;
}
.search__btn:hover {
    transform: scale(1.01);
}
.main__tab {
    position: relative;
    padding: 13px 142px 14px 137px;
    border-radius: 19px;
    filter: drop-shadow(0px 7px 21.5px rgba(226, 105, 128, 0.81));
    background-color: #e1697f;
    z-index: 99;
    display: flex;
    margin-bottom: 63px;
    z-index: 5;
    margin-left: 18px;
    width: 578px;
}
.main__tab-img {
    position: absolute;
}
.main__tab-img1 {
    left: 4px;
    top: -23px;
}
.main__tab-img2 {
    right: 11px;
    bottom: -27px;
}
.main__tab-text {
    font-size: 19px;
    line-height: 31px;
    color: #862134;
    margin-right: 18px;
    margin-left: 18px;
    text-shadow: 1px 0 #000;
}
.main__tab-text1 {
    position: absolute;
    margin: 0;
    left: 99px;
}
.main__tab-link {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 13px;
    color: #fff;
    font-weight: bold;
    border-radius: 16px;
    filter: drop-shadow(0px 3px 6.5px rgba(175, 52, 76, 0.81));
    background-color: transparent;
    text-transform: uppercase;
    padding: 8px 29px 8px 27px;
    border: 2px dashed #fff;
}
.main__tab-link:hover {
    background: #fff;
    border: 2px solid #fff;
    color: #000;
}
.active__tab {
    background: #fff;
    border: 2px solid #fff;
    color: #000;
}
/*===мастера====*/
.master {
    padding-top: 49px;
    padding-bottom: 40px;
}
.container {}
.master__title {
    font-size: 31px;
    line-height: 37px;
    letter-spacing: 2px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
    text-shadow: 2px 0 #000;
}
.master__descr {
    font-size: 24px;
    letter-spacing: .3px;
    color: #5b5b5b;
    margin-bottom: 24px;
    text-shadow: 1px 0 #5b5b5b;
}
.master .search__box-categoty {
    flex-wrap: wrap;
    padding-right: 100px;
    margin-bottom: 42px;
}
.master__link {
    display: flex;
    justify-content: space-between;
}
.master__link-wr {
    display: flex;
    flex-direction: column;
}
.master__link-wr + .master__link-wr {
    margin-right: -20px;
}
.master__link-title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.master__link-title-title {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    text-shadow: 1px 0 #000;
}
.master__link-title-img {
    display: flex;
    align-items: center;
    padding: 4px 13px;
    border-radius: 12px;
    border: 1px solid #774756;
    max-width: max-content;
    margin-left: 11px;
    position: relative;
    top: 3px;
}
.master__link-title-img-text {
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0px;
    color: #000000;
    margin-left: 7px;
}
.master__link-link {
    font-size: 14px;
    line-height: 16px;
    color: #7a7a7a;
    border-bottom: 1px solid #7a7a7a;
    max-width: max-content;
    margin-top: 7px;
    letter-spacing: 1.6px;
    text-shadow: 1px 0 #7a7a7a;
}
.master__link-link:hover {
    color: #e26980;
    border-bottom: 1px solid #e26980;
    text-shadow: 1px 0 #e26980;
}
.master__link-link-all {
    font-weight: 700;
    color: #e26980;
    border-bottom: 1px solid #e26980;
    margin-top: 10px;
    text-shadow: 1px 0 #e26980;
}
/*===миссия===*/
.mission {
    padding-top: 43px;
    padding-bottom: 29px;
    background: linear-gradient(0deg, rgb(251 239 240 / 30%), rgb(251 239 240 / 70%), #fbeff0, rgb(251 239 240 / 70%), rgb(251 239 240 / 30%));
}
.container {}
.mission__title {
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 0 #000;
    margin-left: -37px;
}
.mission__wr {
    display: flex;
    justify-content: space-between;
}
.mission__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: max-content;
}
.mission__item-img {
    width: 102px;
    height: 90px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 18px;
}
.mission__item-text {
    text-align: center;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 500;
    text-shadow: 1px 0 #000;
}
.mission__next .mission__item {
    justify-content: flex-start;
}
.mission__next .mission__item:last-child {
    justify-content: flex-end;
}
.mission__next .mission__item-img {
    width: 83px;
    height: 80px;
    margin-bottom: 12px;
}
.mission__item-link {
    font-size: 16px;
    color: #ffffff;
    border-radius: 11px;
    filter: drop-shadow(0px 4px 4.5px rgba(226, 105, 128, 0.52));
    background-color: #88b77e;
    padding: 14px 20px 12px 20px;
    line-height: 19px;
    margin-bottom: 25px;
}
.mission__item-link:hover {
    transform: scale(1.01);
    background-color: #e26980;
}
.mission__next {
    padding-top: 66px;
    padding-bottom: 56px;
}
/*===отзывы===*/
.review {
    padding-bottom: 9px;
    overflow: hidden;
}
.review__title {
    font-size: 31px;
    line-height: 31px;
    letter-spacing: 2.3px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 63px;
    text-transform: uppercase;
    text-shadow: 2px 0 #000;
}
.review__wr {}
.review__item {
    max-width: max-content;
    margin-right: 110px;
    margin-left: 52px;
}
.review__item-text {
    filter: drop-shadow(0px 4px 23px rgba(226, 105, 128, 0.52));
    background: #e26980;
    padding: 20px 40px 20px 20px;
    /*max-width: max-content;*/
    border-radius: 19px;
}
.review__item-text::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 49px;
    border-top: 28px solid #e26980;
    border-right: 28px solid transparent;
    bottom: -48px;
    right: 41px;
}
.review__item-text-star {
    width: 94px;
    height: 24px;
    border-radius: 12px;
    filter: drop-shadow(0 0 13.5px rgba(119, 71, 86, 0.28));
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -14px;
    right: 38px;
}
.review__item-text-text {
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: right;
    filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.15));
    position: relative;
    line-height: 19px;
    text-shadow: px 0 #fff;
    white-space: pre;
}
.review__item-text-wr {
    display: flex;
    align-items: center;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translate(calc(100% - 25px), -50%);
}
.review__item-text-wr-wr {
    margin-left: 6px;
}
.review__item-text-review {
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 4px;
    color: #787878;
    letter-spacing: 0px;
}
.review__item-text-name {
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    font-weight: bold;
    text-shadow: 1px 0 #000;
}
.review__item-text-position {
    font-size: 14px;
    line-height: 19px;
    color: #728386;
    text-shadow: 1px 0 #728386;
}
.review__item-text-img,
.review__item-client-img {
    width: 51px;
    height: 51px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}
.review__item-client-img img {
    width: 55px;
    height: 77px;
}
.review__item-client {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
    margin-right: 19px;
}
.review__item-client-wr {
    margin-right: 6px;
    text-align: right;
}
.review__item-client-name {
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    font-weight: bold;
    text-shadow: 1px 0 #000;
}
.review__item-client-position {
    font-size: 15px;
    line-height: 19px;
    color: #728386;
    letter-spacing: 1px;
    text-shadow: 1px 0 #728386;
}
.review .owl-stage-outer {
    overflow: visible;
}
.review .owl-item img {
    width: auto;
}
.review .owl-item {
    opacity: 0.3;
}
.review .owl-stage .active {
    opacity: 1;
}
.review__arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 5;
}
.review__arrow-left {
    position: absolute;
    left: -21px;
    top: 55%;
    transform: translateY(-50%);
}
.review__arrow-right {
    position: absolute;
    right: -21px;
    top: 55%;
    transform: translateY(-50%);
}
/*===специалисты==*/
.specialist {
    padding-top: 50px;
    padding-bottom: 76px;
    background: linear-gradient(0deg, rgb(251 239 240 / 30%), rgb(251 239 240 / 70%), #fbeff0, rgb(251 239 240 / 70%), rgb(251 239 240 / 30%));
}
.specialist__title {
    font-size: 31px;
    line-height: 41px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
    text-transform: uppercase;
    text-shadow: 2px 0 #000;
}
.specialist__wr {
    border-radius: 19px;
    border: 2.07px dashed #e26980;
    padding: 30px 25px 55px 22px;
    margin-left: -23px;
    margin-right: -25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.specialist__wr + .specialist__wr {
    margin-top: 44px;
}
.specialist__person {
    position: relative;
    max-width: max-content;
}
.specialist__person-img {
    width: 154px;
    height: 154px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.specialist__person-img:hover {
    transform: scale(1.1);
}
.specialist__person-star {
    width: 94px;
    height: 24px;
    border-radius: 12px;
    filter: drop-shadow(0 0 13.5px rgba(119, 71, 86, 0.28));
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}
.raty {
    display: flex;
    align-items: center;
}
.raty img {
    width: 14px;
}
.specialist__foto {
    position: relative;
    z-index: 5;
}
.specialist__foto-title {
    display: flex;
    margin-bottom: 16px;
}
.specialist__foto-title-wr {
    margin-right: 22px;
}
.specialist__foto-title-title {
    font-size: 20px;
    line-height: 21px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 0 #000;
}
.specialist__foto-title-position {
    font-size: 15px;
    line-height: 19px;
    color: #97a0a3;
}
.specialist__foto-title-wr1 {
    width: 113px;
    height: 35px;
    border-radius: 18px;
    filter: drop-shadow(0 0 9px rgba(119, 71, 86, 0.14));
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-top: 2px;
    justify-content: center;
}
.specialist__slider-wr {
    position: relative;
    display: none;
}
.specialist__foto-title-text {
    font-size: 14px;
    line-height: 19px;
    margin-left: 5px;
    text-shadow: 1px 0 #000;
    position: relative;
    cursor: pointer;
}
.specialist__foto-title-text .specialist__foto-slider {
    position: absolute;
    width: 300px;
    right: -38px;
    background: #fff;
    padding: 15px;
    border-radius: 15px;
}
.specialist__slider__open {
    display: block;
}
.specialist__slider-close {
    position: absolute;
    top: 11px;
    right: -20px;
    cursor: pointer;
    z-index: 5;
}
.specialist__foto-slider .owl-nav span {
    font-size: 30px;
}
.specialist__foto-slider .owl-prev {
    margin-right: 20px;
}
.specialist__foto-img-wr {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 19px;
    width: 106px;
    height: 106px;
}
.specialist__foto-img-wr:hover {
    transform: scale(1.1);
}
.specialist__foto-img-wr + .specialist__foto-img-wr {
    margin-left: 7px;
}
.specialist__foto-img {
    display: flex;
}
.specialist__text {
    max-width: 313px;
}
.specialist__text-title {
    font-size: 17px;
    line-height: 19px;
    margin-bottom: 13px;
    text-shadow: 1px 0 #000;
}
.specialist__text-title span {
    font-weight: bold;
}
.specialist__text-descr {
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    letter-spacing: 0.01px;
    text-shadow: 1px 0 #000;
}
.specialist__text-descr span {
    display: block;
    font-weight: 400;
    text-indent: 10px;
    position: relative;
}
.specialist__text-descr span::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #000;
    left: 0;
    top: 8px;
}
.specialist__btn {
    width: 155px;
    height: 41px;
    border-radius: 19px;
    filter: drop-shadow(0px 4px 4.5px rgba(105, 159, 94, 0.52));
    background-color: #87b77e;
    font-size: 16px;
    letter-spacing: 0px;
    color: #ffffff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 22px;
    bottom: -14px;
}
.specialist__btn:hover {
    background: #e26980;
}
/*===продумали===*/
.all {
    padding-top: 22px;
    padding-bottom: 55px;
}
.all .container {
    padding-left: 19px;
    padding-right: 19px;
}
.all__title {
    font-size: 31px;
    line-height: 31px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 58px;
    text-shadow: 2px 0 #000;
    margin-left: -38px;
}
.all__wr {
    display: flex;
    justify-content: space-between;
}
.all__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all__item-img {
    width: 84px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 27px;
}
.all__item-text {
    font-size: 19px;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: 22px;
    text-shadow: 1px 0 #000;
}
.all-next .search {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
    padding-left: 29px;
}
.all-next {
    padding-bottom: 33px;
}
.all-next .search__box-input {
    font-family: 'graublauweb';
    width: 459px;
    height: 45px;
    border-radius: 19px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.22);
    padding: 13px 21px 13px 20px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1;
    color: #cbcbcb;
    margin-top: 0;
    margin-bottom: 15px;
}
.all-next .box-categoty__item {
    margin-right: 8px;
}
.all-next .search__box-categoty {
    justify-content: space-between;
}
.all-next .search__box-categoty .box-categoty__item:last-child {
    margin-right: 0;
}
.all-next .search__box {
    margin-right: 16px;
}
.all-next .search__btn {
    margin-top: 3px;
}
/*===вопрос - ответ===*/
.answer {
    padding-top: 29px;
    padding-bottom: 26px;
    background: linear-gradient(0deg, rgb(251 239 240 / 30%), rgb(251 239 240 / 70%), #fbeff0, rgb(251 239 240 / 70%), rgb(251 239 240 / 30%));
}
.answer__title {
    font-size: 31px;
    line-height: 31px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 34px;
    text-transform: uppercase;
    text-shadow: 2px 0 #000;
}
.answer__wr {}
.answer__item {
    border-radius: 5px;
    filter: drop-shadow(0px 7px 14.5px rgba(0, 0, 0, 0.11));
    background-color: #ffffff;
    border: 3px solid #e26980;
}
.answer__item + .answer__item {
    margin-top: 13px;
}
.answer__item-qw {
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 16px 24px 16px 24px;
    position: relative;
    cursor: pointer;
    text-shadow: 1px 0 #000;
}
.answer__item-qw::before {
    content: "";
    position: absolute;
    height: 14px;
    width: 4px;
    background: #000;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}
.answer__item-qw::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 14px;
    background: #000;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}
.answer__item-an {
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 16px 24px 16px 24px;
    display: none;
}
.answer__item-an-add {
    display: block;
}
.answer__item-qw-add::before {
    transform: translateY(-50%) rotate(-45deg);
}
.answer__item-qw-add::after {
    transform: translateY(-50%) rotate(-45deg);
}
/*===футер===*/
.footer {
    margin-top: 52px;
    padding-bottom: 257px;
    background: linear-gradient(0deg, rgb(251 239 240 / 30%), rgb(251 239 240 / 70%), #fbeff0, rgb(251 239 240 / 70%), rgb(251 239 240 / 30%));
}
.footer__wr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__link {
    margin-left: 63px;
}
.footer .phone {
    display: flex;
    align-items: center;
    margin-left: 72px;
}
.footer__link-link {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 33px 10px 16px;
    border-radius: 21px;
    position: relative;
    background: #e47388;
}
.footer__link-link::before {
    content: "";
    position: absolute;
    left: 16px;
    right: 33px;
    bottom: 8px;
    border-bottom: 2px dotted #e47388;
}
.footer__link-link::after {
    content: "\02C5";
    position: absolute;
    width: 15px;
    height: 15px;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #fff;
    color: #e47388;
    padding-left: 3px;
}
.footer__link-link:hover {
    color: #7f7f7f;
    background: transparent;
}
.footer__link-link:hover:after {
    color: #fff;
    background: #e47388;
}
.footer__link-link-add {
    color: #7f7f7f;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 33px 10px 16px;
    border-radius: 21px;
    position: relative;
    background: transparent;
}
.footer__link-link-add::before {
    content: "";
    position: absolute;
    left: 16px;
    right: 33px;
    bottom: 8px;
    border-bottom: 2px dotted #e47388;
}
.footer__link-link-add::after {
    content: "\02C5";
    position: absolute;
    width: 15px;
    height: 15px;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #e47388;
    color: #fff;
    padding-left: 3px;
}
.footer__link-link-add:hover {
    color: #fff;
    background: #e47388;
}
.footer__link-link-add:hover:after {
    color: #e47388;
    background: #fff;
}
.main__tab {
    animation: main__tab 1s ease;
}
.main__wr {
    animation: main__wr 1s ease;
}
.main__wr + .main__wr {
    animation: main__wr1 1s ease;
}
@keyframes main__wr {
    0% {
        opacity: 0;
        transform: translate(-100px, -100px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
@keyframes main__wr1 {
    0% {
        opacity: 0;
        transform: translate(100px, -100px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
@keyframes main__tab {
    0% {
        opacity: 0;
        transform: translate(0, -100px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
.main1 {
    animation: main1 2s ease;
}
/*.main2{
	animation: main2 2s ease;
	}*/
.main3 {
    animation: main3 2s ease;
}
@keyframes main1 {
    0% {
        opacity: 0;
        transform: translate(100px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
/*@keyframes main2 {
	0%{
		opacity: 0;
		transform: translate(0, 200px);
	}
	100%{
		opacity: 1;
		transform: translate(0, 0);
	}
	}*/
@keyframes main3 {
    0% {
        opacity: 0;
        transform: translate(0, 200px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
/* ! страница - Форум */
.forum__link {
    padding: 156px 0 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.forum__link-wr {
    position: relative;
}
.forum__link-link {
    padding: 10px 16px 8px 19px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 14px;
    color: #40912f;
    line-height: 16px;
    border-radius: 19px;
    filter: drop-shadow(0px 4px 4.5px rgba(136, 183, 126, 0.52));
    border: 2px dashed #88b77e;
    box-shadow: inset 5px 5px 20px rgba(136, 183, 126, 0.3);
    display: block;
}
.forum__link-link:hover {
    color: #e26980;
    border: 2px dashed #e26980;
}
.forum__link-line {
    filter: drop-shadow(0 0 4.5px rgba(136, 183, 126, 0.12));
    background-color: #ffffff;
    width: 100vw;
    height: 2px;
    position: absolute;
    top: 50%;
}
.forum__link-line::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
}
.forum__link-line::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(45deg);
}
.forum__link-line1 {
    left: 0;
    transform: translateX(-100%);
}
.forum__link-line2 {
    right: 0;
    transform: translateX(100%);
}
.forum {
    overflow: hidden;
    padding-top: 54px;
}
.forum + .forum {
    padding-top: 33px;
}
.container {}
.forum__wr {
    padding: 29px 40px 53px 40px;
    border-radius: 19px;
    border: 2px dashed #e26980;
}
.forum__title {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}
.forum__title-img {
    width: 50px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.forum__title-title {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px #000;
}
.forum__item {
    border-radius: 19px;
    filter: drop-shadow(0px 5px 21.5px rgba(0, 0, 0, 0.17));
    background-color: #ffffff;
    padding: 11px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forum__item + .forum__item {
    margin-top: 16px;
}
.forum__item-wr {
    display: flex;
    align-items: center;
}
.forum__item-img {
    width: 45px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}
.forum__item-title {
    font-size: 19px;
    line-height: 19px;
    color: #000000;
    text-shadow: 1px 1px #000;
    position: relative;
}
.forum__item-title::after {
    content: "";
    position: absolute;
    width: 176px;
    height: 1px;
    background: rgb(242 187 198 / 29%);
    bottom: -6px;
    left: 0;
}
.forum__item-title:hover:after {
    background: rgb(242 187 198 / 99%);
}
.forum__item-link {
    border-radius: 19px;
    background-color: #ffeded;
    padding: 13px 15px 14px 19px;
    margin-right: 27px;
}
.forum__item-link-wr {
    display: flex;
    align-items: center;
}
.forum__item-link-wr + .forum__item-link-wr {
    margin-top: 7px;
}
.forum__item-link-img {
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
}
.forum__item-link-img img {
    display: block;
}
.forum__item-link-text {
    font-size: 16px;
    line-height: 17px;
    color: #000000;
    text-shadow: 1px 0 #000;
}
.forum__item-data {}
.forum__item-data-text {
    font-size: 15px;
    line-height: 15px;
    color: #000000;
}
.forum__item-data-text + .forum__item-data-text {
    margin-top: 3px;
}
.forum__item-data-text span {
    color: #e26980;
    font-weight: 700;
}
.forum__abs {
    position: absolute;
    z-index: -1;
}
.forum1 {
    top: -8px;
    left: 20px;
    transform: translateX(-100%);
}
.forum2 {
    top: 458px;
    right: -46px;
    transform: translateX(100%);
}
.forum3 {
    bottom: 132px;
    left: 25px;
    transform: translateX(-100%);
}
.forum4 {
    top: -16px;
    right: 25px;
    transform: translateX(100%);
}
.forum5 {
    top: 155px;
    left: -9px;
    transform: translateX(-100%);
}
.forum1 {
    animation: forum1 2s ease;
}
.forum2 {
    animation: forum2 2s ease;
}
@keyframes forum1 {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }
    100% {
        opacity: 1;
        transform: translateX(-100%);
    }
}
@keyframes forum2 {
    0% {
        opacity: 0;
        transform: translateX(200%);
    }
    100% {
        opacity: 1;
        transform: translateX(100%);
    }
}
.forum__link-line {
    filter: drop-shadow(0 0 4.5px rgba(136, 183, 126, 0.12));
    background-color: #ffffff;
    width: 100vw;
    height: 2px;
    position: absolute;
    top: 50%;
}
.forum__link-line::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
}
.forum__link-line::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(45deg);
}
.forum__link-line1 {
    animation: forum__link-line1 2s ease;
}
.forum__link-line2 {
    animation: forum__link-line2 2s ease;
}
@keyframes forum__link-line2 {
    0% {
        transform: translateX(200%);
        background-color: #e26980;
    }
    100% {
        transform: translateX(100%);
        background-color: #ffffff;
    }
}
@keyframes forum__link-line1 {
    0% {
        transform: translateX(-200%);
        background-color: #e26980;
    }
    100% {
        transform: translateX(-100%);
        background-color: #ffffff;
    }
}
.forum__send {
    margin-right: 27px;
    margin-left: auto;
    max-width: 181px;
    padding: 8px 16px 7px 16px;
    background-color: #88b77e;
    border-radius: 13px;
    position: relative;
}
.forum__send-text {
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
    cursor: pointer;
}
.forum__send-form {
    position: absolute;
    background-color: #ffeded;
    padding: 10px;
    border-radius: 13px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    filter: drop-shadow(0 0 4.5px rgba(136, 183, 126, 0.12));
    display: none;
}
.forum__send-form-add {
    display: block;
}
.forum__send-form label {
    font-size: 12px;
}
.forum__send-form-btn {
    color: #ffffff;
    background-color: #88b77e;
    cursor: pointer;
    padding: 5px;
    border-radius: 7px;
    margin-top: 5px;
}
.forum__send-form-close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}
.back {
    display: block;
    font-size: 14px;
    color: #40912f;
    padding: 8px 13px 7px 15px;
    border-radius: 19px;
    filter: drop-shadow(0px 4px 4.5px rgba(136, 183, 126, 0.52));
    border: 2px dashed #88b77e;
    margin-left: 26px;
}
.back span {
    text-transform: uppercase;
    font-weight: 700;
}
.header-forum .phone {
    margin-left: 46px;
}
.header-forum .enter {
    margin-left: 56px;
}
.header-forum .forum-link {
    margin-left: auto;
}
.header-forum {
    filter: drop-shadow(0px 5px 21.5px rgba(0, 0, 0, 0.17));
    background-color: #ffffff;
}
.footer-forum {
    background: #fff;
    padding-top: 38px;
    padding-bottom: 32px;
    margin-top: 43px;
}
.footer-forum .phone {
    margin-left: 46px;
}
.footer-forum .enter {
    margin-left: 56px;
}
.footer-forum .forum-link {
    margin-left: auto;
}
.after-all {
    height: 75px;
}